<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INJECT_EVENTS" />
    <uses-permission android:name="android.permission.INTERNAL_SYSTEM_WINDOW" />
    <uses-permission android:name="android.permission.MANAGE_ACTIVITY_STACKS" />
    <uses-permission android:name="android.permission.REMOVE_TASKS" />
    <uses-permission android:name="android.permission.START_ANY_ACTIVITY" />
    <uses-permission android:name="android.permission.START_TASKS_FROM_RECENTS" />

    <application>
        <activity
            android:name=".debug.embedding.ActivityViewPocActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".debug.embedding.ActivityViewWidgetPocActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".debug.embedding.VirtualDisplayPocActivity"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".debug.embedding.EmbeddedProbeActivity"
            android:allowEmbedded="true"
            android:exported="true"
            android:resizeableActivity="true" />
    </application>
</manifest>
